@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Play:wght@700&display=swap');

html{
  scroll-behavior: smooth;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box
}

nav {
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 999;
}

nav ul {
  text-align: center;
  background: white;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li,.navBarLI {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: "Open Sans";
  text-transform:uppercase;
  color: #04095f;
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: #04095f;
  font-weight: 1000;
}

.navBarLiIcon {
  display: none;
}

#navBarIconCross,#navBarIconHamBurger{
  display: none;
}
.intro{
  display: flex;
  align-items: center;
  justify-content: center;
}


#particles-js {
    background: #04095f;
    min-height: 100vh;
    color:#ffffff
}


.heading {
  position: absolute;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading h1 {
  color: white;
  font-size: 70px;
  text-align: left;
}
.heading h3 {
  color: #c1c9de;
  font-size: 20px;
}

.traits{
  text-align: left;
}

.imgPart img{
  width: 200px;
  -webkit-box-shadow: 10px 9px 20px -4px rgba(242,234,242,1);
-moz-box-shadow: 10px 9px 20px -4px rgba(242,234,242,1);
box-shadow: 10px 9px 20px -4px rgba(242,234,242,1);
border-radius: 10px;
}

.imgPart{
  margin: 20px;
}

.textPart{
  margin: 20px;
}

.timeLineSection a {
  color: #ffffcc;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.timeLineSection a:hover,
.timeLineSection a.selected {
  color: #ffcc00;
}

.timeLineSection h1,
.timeLineSection h2,
.timeLineSection h4,
.timeLineSection h5,
.timeLineSection h6 {
  text-align: center;
  color: #ccc;
  text-shadow: #000 1px 1px 2px;
  margin-bottom: 5px;
}

.timeLineSection h1 {
  font-size: 18px;
}

.timeLineSection h2 {
  font-size: 14px;
}

.timeLineSection .sociales {
  text-align: center;
  margin-bottom: 20px;
}

#timeline {
  width: 100%;
  overflow: hidden;
  margin: 100px auto;
  position: relative;
  background: url('../images/dot.gif') left 45px repeat-x;
}

#dates {
  width: 800px;
  height: 60px;
  overflow: hidden;
}

#dates li {
  list-style: none;
  float: left;
  width: 100px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  background: url('../images/biggerdot.png') center bottom no-repeat;
}

#dates a {
  line-height: 38px;
  padding-bottom: 10px;
}

#dates .selected {
  font-size: 38px;
}

#issues {
  width: 800px;
  height: 350px;
  overflow: hidden;
}

#issues li {
  width: 800px;
  height: 350px;
  list-style: none;
  float: left;
}

#issues li.selected img {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

#issues li img {
  float: left;
  margin: 10px 30px 10px 50px;
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
  /* IE 8 */
  
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
  /* IE 6 & 7 */
  
  zoom: 1;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  -webkit-transform: scale(0.7, 0.7);
  -moz-transform: scale(0.7, 0.7);
  -o-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
}

#issues li h1 {
  color: #ffcc00;
  font-size: 48px;
  margin: 20px 0;
  text-shadow: #000 1px 1px 2px;
  text-align: left;
  padding-left: 70px;
}

.timeLineHeading {
  color: #ffcc00;
  font-size: 48px;
  margin: 20px 0;
  text-shadow: #000 1px 1px 2px;
  text-align: center;
}

#issues li p {
  font-size: 14px;
  margin-right: 70px;
  margin-left: 70px;
  font-weight: normal;
  line-height: 22px;
  text-shadow: #000 1px 1px 2px;
}

#grad_left,
#grad_right {
  width: 100px;
  height: 350px;
  position: absolute;
  top: 0;
}

#grad_left {
  left: 0;
  background: url('../images/grad_left.png') repeat-y;
}

#grad_right {
  right: 0;
  background: url('../images/grad_right.png') repeat-y;
}

#next,
#prev {
  position: absolute;
  top: 0;
  font-size: 70px;
  top: 170px;
  width: 22px;
  height: 38px;
  background-position: 0 0;
  background-repeat: no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}

#next:hover,
#prev:hover {
  background-position: 0 -76px;
}

#next {
  right: 0;
  background: red;
}

#prev {
  left: 0;
  background: blue;
}

#next.disabled,
#prev.disabled {
  opacity: 0;
}


.timeLineSection{
  background-color: #04095f;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80%;
    margin: 100px auto;
    padding-top: 50px;
    border-radius: 37px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.sectionHeadingFont{
  font-family: 'Libre Baskerville', serif;
}

.skillSetSection{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    flex-wrap: wrap;
    margin: auto;
    margin: 100px auto;
    padding-top: 50px;
}

.skillSetHeading,.projectSectionHeading{
  color: #04095f;
  font-size: 48px;
  margin: 20px 0;
  text-shadow: #000 1px 1px 2px;
  text-align: center;
}

.skillIconsSection{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.skillIcon{
  display: block;
  height: 70px;
  width: 70px;
  margin: 50px;
  color:#04095f;
}

.wrapper{
  display: flex;
  width: 80%;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card{
	height: 280px;
    width: 400px;
    border-radius: 15px;
    padding: 1.5rem;
    background: white;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    margin: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.card:hover{
  transform: translateY(20px)
}
.card:hover::before{
  opacity: 1
}
.card:hover .info{
  opacity: 1;
  transform: translateY(0px)
}
.card:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px; 
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}
.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}

.card .info{
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}
.card .info h1{
  margin: 0px;
}
.card .info p{
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.card .info button{
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}
.card .info .projectIcon:hover{
  color: rgb(176, 247, 247);
}


.projects{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    padding-top: 50px;
}

.info .projectIcon{
  height: 50px;
  width: 50px;
}

.info a{
  text-decoration: none;
  color:inherit;
}

.profileIcon{
  display: block;
  height: 70px;
  width: 70px;
  margin: 50px;
  color:#ffcc00;
}

.profileIconsSection{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.profileDiv{
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color:#ffcc00 ;
  color:#04095f;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 77%;
  left: 50%;
  margin-left: -60px;
}

.profileDiv:hover .tooltiptext {
  visibility: visible;
}

.profileDiv a{
  text-decoration: none;
  color: inherit;
}

.profileSection{
  background-color: #04095f;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80%;
    margin: 100px auto;
    padding-top: 50px;
    border-radius: 37px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin: 100px auto;
    padding-top: 50px;
}


.profileSectionHeading {
  color: #ffcc00;
  font-size: 48px;
  margin: 20px 0;
  text-shadow: #000 1px 1px 2px;
  text-align: center;
}

.contactSection {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
  width: 80%;
  margin-bottom: 100px;
}

.screen {
  position: relative;
  background: #2d2680;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background:  #04095f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
  justify-content: center;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ffcc00;
  font-size: 26px;
  margin-right: 31px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ffcc00;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  color:#51556b;
}

.app-form-button:hover {
  color: #ffcc00;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.app-contact a{
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

.contactsIcon{
  height: 60px;
  width: 60px;
  transition: 05.s ease-in-out;
}

.contactsIcon:hover{
  color: #ffcc00;
  transition: 05.s ease-in-out;

}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}


@media only screen and (max-width: 800px) {
  .navBarLI{
    display: none;
  }
  .navBarLiIcon{
    display: block;
  }
  #navBarIconHamBurger{
    display: block;
  }
  .heading{
    flex-direction: column;
  }

  .heading h1{
    font-size: 40px;
    text-align: center;
  }

  .imgPart img{
    width: 100px;
    height: 200px;
    object-fit: cover;
  }

  .heading h3{
    font-size: 15px;
    text-align: left;
  }

  .skillIcon,.profileIcon{
    margin: 20px;
  }

  .skillIcon{
    height: 50px;
    width: 50px;
  }

  .screen-body-item.left{
    flex-direction: column;
  }

  .contactsIcon{
    height: 40px;
    width: 40px;
  }

  .app-contact{
    margin-top:20px;
  }

  .sectionHeadingFont{
    font-size: 30px;
  }

  .card .info{
    opacity: 1;
  }

  .card:before{
    opacity: 1;
  }
}
